<div class="heading-wrapper">
  <h2 class="modal-heading">{{ 'label.reset-password' | translate }}</h2>
</div>
<div class="content-wrapper">
  <p *ngIf="!passwordSent" class="modal-info">
    {{ 'label.reset-password-instructions' | translate }}
  </p>
  <form *ngIf="!passwordSent" class="modal-form" #form="ngForm" (ngSubmit)="onSubmit()">
    <input
      type="password"
      id="password"
      [(ngModel)]="formModel.password"
      name="password"
      [placeholder]="'label.reset-password-placeholder' | translate"
      required
      [pattern]="passwordPattern"
      minlength="6" />
    <input
      type="password"
      id="password2"
      [(ngModel)]="formModel.password2"
      name="password2"
      [placeholder]="'label.reset-password-placeholder-second' | translate"
      required
      [pattern]="passwordPattern"
      minlength="6" />

    <p *ngFor="let message of errorMessages" class="error-message">
      ⚠️ {{ message.name | translate: message?.param }}
    </p>

    <button type="submit" class="modal-button">
      {{ 'label.reset-password' | translate }}
    </button>
  </form>
  <p *ngIf="passwordSent" class="modal-info">{{ passwordSentMessage | translate }}</p>
  <button (click)="onRedirect()" class="button-redirect">
    {{ 'label.back-to-login' | translate }}
  </button>
</div>
