<div class="heading-wrapper">
  <h2 class="modal-heading">{{ 'label.verify-email-heading' | translate }}</h2>
</div>
<div class="content-wrapper">
  <p class="modal-info">
    {{ 'label.verify-email-notification' | translate }}
  </p>
  <form class="modal-form" #formCode="ngForm" (ngSubmit)="onSubmitCode()">
    <label for="code">{{ 'label.verify-email-label' | translate }}</label>
    <input
      [(ngModel)]="codeModel.emailVerificationCode"
      [placeholder]="'label.verify-email-placeholder' | translate"
      type="text"
      name="code"
      id="code"
      required
      minlength="6"
      maxlength="6" />

    <p *ngFor="let message of errorMessages" class="error-message">
      ⚠️ {{ message.name | translate: message?.param }}
    </p>

    <p class="instructions-info">
      <span>{{ 'label.verify-email-copy-code' | translate }}</span>
      <span class="user-email">{{ userEmail }}</span>
      <span>{{ 'label.verify-email-check-spam' | translate }}</span>
    </p>

    <div *ngIf="!changeEmailMode" class="buttons-wrapper">
      <button
        type="button"
        [disabled]="timerDisplay"
        [ngStyle]="{ cursor: timerDisplay ? 'not-allowed' : 'pointer' }"
        class="button-change"
        (click)="onResendEmail()">
        {{ 'label.resend' | translate }} {{ timerDisplay }}
      </button>
      <button type="button" class="button-change" (click)="onEmailChange()">
        {{ 'label.change-email' | translate }}
      </button>
    </div>

    <form
      *ngIf="changeEmailMode"
      #formEmail="ngForm"
      class="email-form"
      (ngSubmit)="onEmailChangeConfirm()">
      <div class="email-wrapper">
        <input
          [(ngModel)]="emailModel.newEmail"
          name="email"
          type="text"
          [placeholder]="'label.email' | translate" />
        <div class="controls">
          <button type="submit" class="checked">✔️</button>
          <button type="button" (click)="onEmailChangeCancel()" class="cancel">❌</button>
        </div>
      </div>

      <p *ngFor="let message of errorMessagesEmail" class="error-message">
        ⚠️ {{ message.name | translate: message?.param }}
      </p>
    </form>

    <button
      [ngStyle]="{ cursor: changeEmailMode ? 'not-allowed' : 'pointer' }"
      [disabled]="changeEmailMode"
      type="submit"
      class="button-verify">
      {{ 'label.verify' | translate }}
    </button>
  </form>
</div>
