:host {
  border-radius: 20px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.new-dress {
  z-index: 50;
  position: absolute;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #e0e0e0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.notification-heading {
  font-size: 18px;
  color: var(--color-primary);
  margin: 0;
}

.heart-box {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.heart-icon {
  cursor: pointer;
  fill: #fff;
  width: 50px;
  height: 50px;
}
