<div class="heading-wrapper">
  <h2 class="modal-heading">{{ 'label.forgot-password' | translate }}?</h2>
</div>
<div class="content-wrapper">
  <p *ngIf="!emailSentMessage" class="modal-info">
    {{ 'label.forgot-password-instructions' | translate }}
  </p>
  <form *ngIf="!emailSentMessage" class="modal-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      type="email"
      formControlName="email"
      [placeholder]="'label.enter-your-email' | translate" />
    <p *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </p>
    <button type="submit" class="modal-button">
      {{ 'label.send-reset-link' | translate }}
    </button>
  </form>
  <p
    *ngIf="emailSentMessage"
    translate
    [translateParams]="{ email: form.controls['email'].value }"
    class="modal-info">
    {{ emailSentMessage }}
  </p>

  <p *ngFor="let message of errorMessages" class="modal-info">
    ⚠️ {{ message.name | translate: message?.param }}
  </p>

  <button (click)="onRedirect()" class="button-redirect">
    {{ 'label.back-to-login' | translate }}
  </button>
</div>
